.rank-view {
  clear: both;
}

.square-view {
  width: 80px;
  height: 80px;
  float: left;
  color: #F0F;
  font-weight: bold;
  font-size: 24px;
}

img.piece {
  height: 76px;
  width: 76px;
}

.square-view.white {
  background-color: beige;
}

.square-view.black {
  background-color: black;
}

.square-view.highlight {
  -webkit-box-shadow:inset 0px 0px 0px 3px #f00;
  -moz-box-shadow:inset 0px 0px 0px 3px #f00;
  box-shadow:inset 0px 0px 0px 3px #f00;
}